<!-- IF S_RH_TOPICTAGS_INCLUDE_NG_TAGS_INPUT -->
	<!-- IF S_ALLOW_CDN -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<!-- ELSE -->
		<script src="{ROOT_PATH}ext/robertheim/topictags/styles/all/angular/angular.min.js?assets_version={T_ASSETS_VERSION}"></script>
	<!-- ENDIF -->

	<!-- IF 0 -->
		The ng-tags-input has an important bug regarding regex modifiers. We implemented a custom
		workaround for version 2.1.1-1, shipped with the extension. There exists a PR on GitHub
		which still is not merged https://github.com/mbenford/ngTagsInput/issues/278 .
	<!-- ENDIF -->
	<script src="{ROOT_PATH}ext/robertheim/topictags/styles/all/angular/ng-tags-input.2.1.1-1.workaroundissue278.min.js?assets_version={T_ASSETS_VERSION}"></script>
	<script src="{ROOT_PATH}ext/robertheim/topictags/styles/all/angular/taginput.app.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- ENDIF -->
